.imgRedonda {
  width: 100%;
  /* display: flex;
  justify-content: center; 
 
height:15em;
*/


  border-radius: 100px;
}

.code {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  font-weight: bold;
}

.container-img {
  width: 100%;
  margin: 0;
}

.modo-form {
  position: absolute;
  bottom: 0%;
  right: 0;
  width:600px;
  padding-bottom: 50px;
}


.modal-content {
  background-color: ivory;
}

.text {
  
  font-size:20px;
 
  font-weight:bold;
  color:red;
  text-transform:uppercase;
}


