<!-- Modal -->




<!-- Modal -->
<div class="modal-content" *ngIf="profile">
    <div class="custom-class">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-lg-6 text-left">
                        <h3 class="mr-auto"><strong>{{ profile.nickName | capitalize }}</strong> </h3>
                    </div>
                    <div class="col-sm-12 col-lg-6 text-right">
                        <h3 class="mr-auto text-danger"> <strong>{{dateNow}}</strong> </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-3   ">
                        <div class="container-img">
                              
                            <img [src]="profile.base64" class=" imgRedonda" />
                        </div>
                        <div>
                            <h3 class="code"> {{ profile.id }} </h3>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-9">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <h4><strong>{{profile.name| capitalize}}</strong> </h4>
                                    <hr>
                                    <h2 class="text-right"><span class="badge badge-warning">{{profile.oucpation}}</span> </h2>
                                </div>
                                <div class="col-12 mb-5">
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modo-form text parpadea">
                    <h3 class="text-capitalize">{{ textModeForm | capitalize}} </h3>
            </div>


        </div>
    </div>
</div>