<div class="image">
  
  <div class="container-fluid">
    
     
    <!-- <button class="btn btn-danger" (click)="showModal()"> Mostrar modal</button>
    <button class="btn btn-success" (click)="conecctSignal()">Conectar</button>
  
  -->
  </div> 

 
</div>


<router-outlet></router-outlet>




<!-- find /docker-volumes/sql2017/backups -type d -exec chmod 755 {} \; &
 find /docker-volumes/sql2017/backups -type f -exec chmod 755 {} \; & -->