/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


:root {

   

  --ion-font-family: 'Indie Flower', cursive;

  /** primary **/
}
body, html { 
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* font-family: 'Lato', sans-serif; */

}


.xlModal > .modal-dialog {
  max-width: 90em;
  max-height: 70em !important;
  

}

/* parpadear label  */
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
/* parpadear label  */
